.radio {
    width:50%;
    float:left;
    margin-top:0;
    }


.radio_grp{
    width:100%;
    float:left;
    margin:6px 0 36px 0;    
    }


.contact-box {
    margin: 10px 0;
    font-size: 16px;
}

.contact-name, .contact-team {
    font-weight: bold;
}