form {
    margin-top:70px;height:470px;
    }

form label {
    width:380px;
    float:left;
    clear:both;
    height:60px;
    }

form label span {
    width:190px;
    float:left;
    font-size:1.4em
    }



.form-group label {
    width:40%;float:left;
    }

.form-control-3-4 {
    width:55%;
    float:left;
    height:30px;
    font-size:1.2em;
    padding:0 0 0 12px;
    }

form.site-search {
    height:0px;
}


.form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 30px; } }

.form-group-related {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .form-group-related {
      margin-bottom: 20px; } }

.form-group-compound {
  margin-bottom: 10px; }

.form-title {
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .form-title {
      margin-bottom: 45px; } }

.form-label, .form-label-bold {
  display: block;
  color: #0b0c0c; }

.form-label {
  font-family: lato, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .form-label {
      font-size: 16px;
      line-height: 1.25; } }

.form-label-bold {
  font-family: lato, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    .form-label-bold {
      font-size: 18px;
      line-height: 1.2; } }
  .form-label-bold .form-hint {
    font-family: lato, Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 1.3157894737;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .form-label-bold .form-hint {
        font-size: 16px;
        line-height: 1.25; } }

.form-block {
  float: left;
  width: 100%; }

.form-hint {
  display: block;
  color: #6f777b;
  margin-bottom: 5px; }
  @media (min-width: 641px) {
    .form-hint {
      margin-top: 8px; } }

.form-control {
  font-family: lato, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0; }
  @media (max-width: 640px) {
    .form-control {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-4 {
  width: 25%; }

.form-control-1-8 {
  width: 12.5%; }

.form-radio {
  display: block;
  margin: 10px 0; }

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0; }

.form-checkbox {
  display: block;
  margin: 15px 0; }

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0; }