


.govuk-related-items h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: none;
    font-size-adjust: 0.525;
    margin-top: 0.3em;
    margin-bottom: 0.5em
}

@media (min-width: 641px) {
    .govuk-related-items h2 {
        font-size: 24px;
        line-height: 1.25
    }
}

.govuk-related-items ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    list-style: none;
    margin-bottom: 1.25em
}

@media (min-width: 641px) {
    .govuk-related-items ul {
        font-size: 16px;
        line-height: 1.25
    }
}

.govuk-related-items ul li {
    margin-bottom: 0.75em
}

.govuk-related-items ul li.related-items-more {
    font-weight: bold
}


