/*====================================================
	- Keyworder file-extensions stylesheet
=====================================================*/

.kwd-fext{ border-bottom:1px dotted #999; }
.kwd-fext img{ vertical-align:middle; margin:0 1px 0 0; border:0; }
